<section class="container-fluid">
    <div class="back-btn py-2">
        <a class="center-flex" [routerLink]="['/panel/home']">
            <mat-icon> arrow_back_ios </mat-icon> Regresar
        </a>
    </div>
    <div class="row content-info">
        <div class="col-xl-7 col-12 row">
            <div class="row align-items-center col-12 mt-3 mx-0">
                <div class="col-auto">
                    <img [src]="doctor.profile_image_url" class="rounded-circle avatar" alt="avatar">
                </div>
                <div class="col-8">
                    <p class="m-0"> {{doctor.doctor.speciality_name}} </p>
                    <p> <b> {{doctor.name}} </b> </p>
                </div>
                <div class="col-auto center-flex">
                    <mat-icon>start</mat-icon>
                    <span class="text-secondary ml-2"> {{doctor.doctor.total_star}} </span>
                </div>
                <div class="col-12 row mt-3">
                    <div class="col">
                        <p class="txt-secondary text-center"> {{"10"}} FeedBacks </p>
                    </div>
                    <div class="col">
                        <p class="txt-secondary text-center"> {{doctor.doctor.working_since}} años exp </p>
                    </div>
                    <div class="col">
                        <p class="txt-secondary text-center"> {{doctor.age}} años </p>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-dark"> {{doctor.doctor.description}} </p>
                </div>
                <div class="col-auto py-2">
                    <a class="txt-main cursor" [href]="doctor.doctor.resume" target="_blank"> Ver Resumen </a>
                </div>
                <mat-divider class="col-12 "></mat-divider>
            </div>
        </div>
        <div class="col-xl-5 col-12 row align-items-center">
            <div class="col-12 p-4 border shadow ">
                <h2> Agendar sesion </h2>
                <mat-divider></mat-divider>
                <!-- Dates select -->
                <h5 class="text-secondary mt-3"> Fecha y hora de la consulta </h5>
                <div class="info-block shadow-sm row m-0">
                    <div class="col-7">
                        <button mat-button class="txt-main" (click)="picker.open()">
                            <mat-icon>calendar_today_outline</mat-icon>
                        </button>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" (dateChange)="getDate($event.value)" disabled
                                [min]="minDate" placeholder="Seleciona una fecha">
                            <mat-datepicker disabled=false #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-5 center-flex">
                        <p class="m-0 mr-2 txt-main">
                            <mat-icon>access_time</mat-icon>
                        </p>
                        <mat-form-field>
                            <mat-label>Seleccione una hora</mat-label>
                            <mat-select (selectionChange)="getFee()" [(ngModel)]="doctorTime">
                                <mat-option *ngFor="let t of doctorTimeSlots" [value]="t.start_time">
                                    {{t.start_time}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!-- La consulta incluye -->
                <h5 class="text-secondary mt-3"> Esta consulta incluye </h5>
                <div class="info-block shadow-sm row m-0 p-2">
                    <p class="m-0 col-auto">
                        <mat-icon>people_alt</mat-icon>
                    </p>
                    <p class="m-0 text-secondari col-11">Una sesion de una hora </p>
                    <p class="m-0 col-auto">
                        <mat-icon>chat_bubble_outline</mat-icon>
                    </p>
                    <p class="m-0 text-secondari col">Chat ilimitado por una semana </p>
                </div>
                <!-- Aplicar cupon -->
                <ng-container *ngIf="(doctorFee != '0' )" >
                    <h5 class="text-secondary mt-3"> Aplicar cupon </h5>
                    <div class="info-block shadow-sm row m-0 p-2">
                        <mat-form-field class="col-10">
                            <input matInput [(ngModel)]="cupon" placeholder="Ingresa el cupon">
                        </mat-form-field>
                        <button (click)="applyCupon()" mat-button class="col-2 bg-main text-white mt-4"> Aplicar </button>
                    </div>
                    <p class="txt-main text-right" *ngIf="cuponValid" > {{cuponText}} </p>
                    <p class="text-danger text-right" *ngIf="!cuponValid" > {{cuponText}} </p>
                </ng-container>
                <!-- Precio y descuentos -->
                <div class="price" *ngIf="(doctorFee != '0' )" >
                    <div class="price row justify-cont m-0 mt-3">
                        <p class="text-dark font-weight-bold col-10"> Total de la consulta </p>
                        <p class="font-weight-bold col-2"> {{doctorFee | currency }} </p>
                    </div>
                    <div class="price row justify-cont m-0 mt-3" *ngIf="cuponValid">
                        <p class="text-dark font-weight-bold col-10 txt-main "> Promo </p>
                        <p class="font-weight-bold col-2 txt-main m-0"> {{promo | currency }} </p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="price row justify-cont m-0">
                        <p class="text-dark font-weight-bold col-10"> Total</p>
                        <p class="font-weight-bold col-2"> {{totalFee | currency }} </p>
                    </div>
                    <div class="price row justify-cont m-0 mt-3" *ngIf="cuponValid">
                        <p class="font-weight-bold col-10 txt-main"> Estas ahorrando </p>
                        <p class="font-weight-bold col-2 txt-main"> {{promo | currency }} </p>
                    </div>
                </div>

                <button mat-button class="col-12 bg-main text-white mt-4" (click)="saveBooking()" [disabled]="!(doctorFee != 0 )" > Agendar Cita </button>
            </div>
        </div>
    </div>
</section>