<div class="image-wrapper my-2 pt-2">
    <mat-card [id]="'cat'+c.id" (click)="goCategorie(c.id,('cat'+c.id))" *ngFor="let c of categories"
        class="img-container ml-2">
        <img width="100%" mat-card-image [src]="c.cat_image" [alt]="c.name">
        <mat-card-content>
            <p class="text-center">
                {{c.name}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
<mat-divider></mat-divider>

<section class="container-fluid">
    <div class="row ">
        <!-- Doctor Info -->
        <div *ngFor="let d of doctors" class=" col-xl-3 col-12 mt-3  p-2">
            <div class="row mx-0 border card-doctor">
                <div class="col-4">
                    <img [src]="d.profile_image_url" class="avatar" alt="avatar">
                </div>
                <div class="col-8">
                    <p class="m-0 text-secondary"> {{d.doctor.speciality_name}} </p>
                    <p class="m-0"> <b> {{d.name}} </b> </p>
                    <div class="star-container">
                        <mat-icon>start</mat-icon>
                        <span class="text-secondary ml-2"> {{d.doctor.total_star}} </span>
                    </div>
                </div>
                <div class="col-12 row mt-3">
                    <div class="col">
                        <p class="txt-main text-center"> {{d.total_reviews || '0'}} Reviews </p>
                    </div>
                    <div class="col">
                        <p class="txt-secondary text-center"> {{d.doctor.working_since}} años exp </p>
                    </div>
                </div>
                <div class="col-12">
                    <p class="text-dark text-truncate" [matTooltip]="d.doctor.description"> {{d.doctor.description}}
                    </p> <a class="txt-main cursor" [href]="d.doctor.resume" target="_blank"> Ver Curriculum </a>
                </div>
                <button mat-button class="bg-main text-white mb-3 book-btn"
                    (click)="bookingNow(d.doctor.user_id)"> Book Now
                </button>
            </div>

        </div>
    </div>
</section>