<section class="video-container" >
  <div *ngIf="session">
    <app-publisher [session]="session"></app-publisher>
    <app-subscriber class="doctor-camera" *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
    <h1 *ngIf="streams.length == 0" class="text-white"> Esperando al doctor ... </h1>
  </div>
</section>

<section class="buttons-container">
  <button class="call-button" (click)="videoSettings('video')" > <mat-icon class="text-white" >videocam</mat-icon> </button>
  <button class="call-button" (click)="videoSettings('mic')" > <mat-icon class="text-white" >mic</mat-icon> </button>
  <button class="call-button bg-danger"[routerLink]="['/panel/booking']"  > <mat-icon class="text-white" >phone_disabled</mat-icon> </button>
</section> 
